*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: var(--fontSize-base);
  scroll-padding-top: var(--header-height);

  &:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  background: #fff;
  color: var(--color-text);
  font-family: var(--fontFamily-regular);
  font-size: var(--fontSize-base);
  font-weight: var(--fontWeight-text-normal);
  line-height: var(--line-height-text);
  text-rendering: optimizespeed;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  color: var(--color-link, currentColor);
  text-decoration: none;
}

strong {
  font-weight: var(--fontWeight-text-bold);
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

:where(svg:not([fill])) {
  fill: currentcolor;
}

::selection {
  background-color: #000;
  color: #fff;
}
