.site-footer {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid rgba(#000, 0.06);
  padding-top: 2em;
  padding-bottom: 2em;

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2em;
  }

  a {
    &:hover {
      text-decoration: underline;
      color: #000;
    }

    &[aria-current] {
      color: #000;
    }
  }
}
