.bp-inner {
  padding-top: calc(var(--headerHeight) + 64px);
  padding-bottom: 128px;
}

.bp-grid {
  row-gap: 64px;
}

.bp-card {
  $radius: 4px;

  grid-column: span 6;

  @media (max-width: 768px) {
    grid-column: 1 / -1;
  }

  &-media {
    // --ratio: calc(100% * 9 / 16);
    border-radius: $radius $radius 0 0;
    overflow: hidden;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    background-color: #fafafa;
    border: 1px solid rgb(0 0 0 / 6%);
    border-top-width: 0;
    border-radius: 0 0 $radius $radius;
  }

  &-date {
    font-size: 12px;
  }

  &-cta {
    align-self: start;
  }
}
