.page-article {
  padding-top: calc(var(--headerHeight) + 64px);
  padding-bottom: 128px;
}

.page-top {
  margin-bottom: 64px;
  grid-column: 2 / -2;

  @media (max-width: 1280px) {
    grid-column: 1 / -1;
  }

  .socials {
    font-size: 16px;
    margin-top: 2em;
    color: #0070f3;

    a {
      font-size: 2em;
    }
  }
}

.single-featured-image {
  --ratio: 50%;

  margin-bottom: 64px;
  grid-column: 2 / -2;

  @media (max-width: 1280px) {
    grid-column: 1 / -1;
  }
}

.page-article-content {
  --accent: #0070f3;

  grid-column: 3 / -3;

  @media (max-width: 1280px) {
    grid-column: 2 / -2;
  }

  @media (max-width: 1024px) {
    grid-column: 1 / -1;
  }

  > :first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2em 0 1em;
  }

  p {
    margin: 1em 0;
  }

  .wp-block-image {
    margin: 2em 0;
  }

  .wp-block-image > img {
    margin: auto;
  }

  ol {
    list-style: decimal outside;
  }

  ul {
    list-style: disc outside;
  }

  ul,
  ol {
    margin: 1em 0 2em;
    padding-left: 2em;

    ::marker {
      color: var(--accent);
    }
  }

  strong {
    color: var(--color-heading);
  }
}
