:root {
  // fontFamily
  --fontFamily-regular: 'Inter', sans-serif;

  // fontSize
  --fontSize-base: 16px;

  // fontWeight
  --fontWeight-text-normal: 400;
  --fontWeight-text-bold: 700;
  --fontWeight-heading-bold: 700;

  // lineHeight
  --lineHeight-text: 1.5;
  --lineHeight-heading: 1.2;

  // zIndex
  --zIndex-header: 99;
  --zIndex-skip-to-content: 9999999;

  // colors
  --color-text: #202020;
  --color-heading: #1e1e1e;
  --color-link: #004f9a;

  // others
  --headerHeight: 100px;
}
