:root {
  --base-font-size: 14px;

  --text-font-weight-normal: 400;
  --text-font-weight-bold: 700;
  --heading-font-weight: 700;

  --line-height-text: 1.5;
  --line-height-heading: 1.2;

  --header-height: 100px;

  --z-index-header: 99;
  --z-index-skip-to-content: 9999999;

  --color-text: #202020;
  --color-heading: #1e1e1e;
  --color-link: #004f9a;
}
